@import "../../variables.scss";

.dogs-container {
  display: flex;
  padding: 50px 0;
  width: 100%;
  .container-filters {
    width: 50%;
    padding: 100px 0;
    .label-filter {
      display: inline-block;
      min-width: 130px;
      text-align: end;
    }
    .select-filter {
      margin-left: 20px;
      min-width: 200px;
    }
    .btn-salvar {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      .btn-save{
        width: 370px;
      }
    }
  }
  .dogs-presentation {
    width: 50%;
    .dog-img-container {
      .img-loading {
        height: 0;
        display: none;
      }
      .img-loaded {
        transition: all 1s ease-in-out;
        border-radius: 5px;
        display: block;
        max-width: 200px;
        max-height: 200px;
        box-shadow: 7px 10px 48px -20px rgba(0, 0, 0, 0.7);
        img {
          max-width: 369px;
          max-height: 460px;
        }
      }
    }

    .name-container {
      position: relative;
      text-align: center;
      top: 60px;
      p {
        text-transform: capitalize;
        font-size: 36px;
        margin: 0;
      }
      &.nunito {
        p {
          font-family: $fontNunito;
        }
      }
      &.roboto {
        p {
          font-family: $fontRoboto;
        }
      }
      &.lexend {
        p {
          font-family: $fontLexend;
        }
      }
      &.hind {
        p {
          font-family: $fontHind;
        }
      }
      &.montserrat {
        p {
          font-family: $fontMontserrat;
        }
      }

      &.blue {
        p {
          color: $light-royal-blue;
        }
      }
      &.white {
        p {
          color: $background;
        }
      }
      &.red {
        p {
          color: $alert;
        }
      }
      &.black {
        p {
          color: $text;
        }
      }
      &.green {
        p {
          color: $green-blue;
        }
      }
    }
  }
}
