@import url('https://fonts.googleapis.com/css?family=Hind|Lexend+Tera|Montserrat|Nunito+Sans|Roboto+Condensed&display=swap');

//Colors
$light-royal-blue: #461bff;
$green-blue: #00d896;
$background: #f4f8fb;
$alert: #d0021b;
$text: #000;


$fontNunito: "Nunito Sans";
$fontLexend: "Lexend Tera";
$fontHind: "Hind";
$fontRoboto: "Roboto Condensed";
$fontMontserrat: "Montserrat";